@media only screen and (min-width: 1220px) {
    .md-sidebar.md-sidebar--secondary {
        display: block;
    }
    
    .md-sidebar.md-sidebar--secondary > .md-sidebar__scrollwrap {
        padding-right: 25px;
        box-shadow: -5px 0px 8px rgba(0,0,0,0.1);
    }
    
}

.md-content{
    padding-top: 50px;
    max-width:1219px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px; 
    font-weight: 350;
    max-width: 1000px
}